CompileFlags:
  CompilationDatabase: build/host-single-Debug/
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: []
    Remove: []
InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No
